name: Deploy via FTP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    
    steps:
    - name: Obter o código do repositório
      uses: actions/checkout@v4
      with:
        fetch-depth: 2
      
    - name: Enviar arquivos via FTP
      uses: SamKirkland/FTP-Deploy-Action@v4.3.5
      with:
        server: ${{ secrets.FTP_SERVER }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        
        # Opcionais úteis (descomente e ajuste se necessário):
        
        # Pasta de destino no servidor (ex: se seu site não fica na raiz do FTP)
        # server-dir: public_html/
        
        # Excluir arquivos soltos do deploy (não envia o .git, por exemplo)
        # exclude: |
        #   **/.git*
        #   **/.git*/**
        #   **/node_modules/**
