name: Deploy via FTP

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    
    steps:
      - name: Obter o c처digo do reposit처rio
        uses: actions/checkout@v4
        with:
          fetch-depth: 2
        
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build
        
      - name: Enviar arquivos via SFTP/SSH
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: 22
          source: "dist/*"
          target: "public_html" # Altere caso o diret처rio raiz seja diferente (ex. htdocs, www)
          strip_components: 1
        
        # Excluir arquivos soltos do deploy (n찾o envia o .git, por exemplo)
        # exclude: |
        #   **/.git*
        #   **/.git*/**
        #   **/node_modules/**
